<p>addpets works!</p>
<h1>Add Pet Details</h1>
<form #petRef="ngForm" (ngSubmit)="submit(petRef)">
    <div>
        <label>petName: </label>
        <input  type ="text" [(ngModel)]="selectedata.petName" name="petName" #petName="ngModel" required/>
        <div *ngIf="submitted && petName.invalid" class="invalid-field">
            <p *ngIf="petName.errors.required"> Enter your Pet Name </p>
        </div>
    </div>
    <div>
        <label>petOwner: </label>
        <input  type ="text"  [(ngModel)]="selectedata.petOwner" name="petOwner" #petOwner="ngModel" required />
        <div *ngIf="submitted && petOwner.invalid" class="invalid-field">
            <p *ngIf="petOwner.errors.required"> Enter your Pet owner </p>
        </div>


    
    </div>
    <div>
        <button (click)="postPetData()">Add Petadata</button>
    </div>

</form>