h1{
    color: dodgerblue;
}
button {
    font-size: 11px;
    margin: 10px;
    padding: 8px;
    background-color:green ;
}

form{
    margin: 10px;
    padding: 8px;
}
input{
    margin: 10px;
    padding: 8px;
}
.invalid-field{
color: red;
}