<p>register works!</p>
<h1 style="text-align: center;">Registration Form!</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div>
        <label>FirstName:</label>
        <input type="text"  formControlName="firstName" />
        <div *ngIf="issubmitted && profileForm.controls.firstName.errors.required"
         class="invalid-field">
            <p>First name is required</p>
        </div>

    </div>

    <div>
        <label>LastName:</label>
        <input type="text" formControlName="lastName">
        <div *ngIf="issubmitted  && profileForm.controls.lastName.errors.required " class="invalid-field">
            <p>Last name is required</p>
        </div>


    </div>

    <div>
        <label>Email Id :</label>
        <input type="text" formControlName="emailId">
        <div *ngIf="issubmitted  && profileForm.controls.emailId.errors.required " class="invalid-field">
            <p>Email Id is required</p>
        </div>

    </div>


    <div>
        <label>Mobile: </label>
        <input type="number" formControlName="mobileNumber">
        <div *ngIf="issubmitted  && profileForm.controls.mobileNumber.errors.required " class="invalid-field">
            <p>MobileNumber is required</p>
            <div *ngIf="profileForm.controls.mobileNumber.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
        </div>

    </div>


    <div>
        <label> Address : </label>
        <input type="text" formControlName="adress">
        <div *ngIf="issubmitted  && profileForm.controls.adress.errors" class="invalid-field">

            <p *ngIf="issubmitted  && profileForm.controls.adress.errors.required ">
                adress is required</p>


            <p *ngIf="issubmitted  && profileForm.controls.adress.errors.maxLength">
                adress details length should be 100 </p>
        </div>

    </div>
    <div>
        <label> password: </label>
        <input type="password" formControlName="password">
        <div *ngIf="issubmitted  && profileForm.controls.password.errors" class="invalid-field">

            <p *ngIf="issubmitted  && profileForm.controls.password.errors.required ">
                password is required</p>


            <p *ngIf="issubmitted  && profileForm.controls.password.errors.maxLength">
                password length should be 10 </p>
        </div>

    </div>



    <button type="submit" (onClick)="onSubmit()" [disabled]="profileForm.valid">Submit</button>

</form>