.invalid-field{
    color: red;
}

input[type=text] {
    width: 20%;
    padding: 8px;
    margin: 2px;
    box-sizing: border-box;
  }
  button {
      font-size: 12px;
      margin: 10px;
      padding: 8px;
      background-color:cornflowerblue ;
  }
  input[type=number] {
    width: 20%;
    padding: 8px;
    margin: 2px;
    box-sizing: border-box;
  }
  input[type=password] {
    width: 20%;
    padding: 8px;
    margin: 2px;
    box-sizing: border-box;
  }
  form{
     background-color: aqua; 
  }

  h1{
    color: blue;  
  }
  