<h1 style="text-align: center;">Pet Details!</h1>
<div>
    <button (click)="getPetdata()" ngClass="btn-btn-primary">getPetdata</button>
<h1></h1>
    {{ pets | json }}

</div>

<div app-custom *ngFor="let item of pets">

    {{item.id}},{{item.petName}},{{item.petOwner}}
    <button (click)="delatePetData(item.id)" ngClass="btn-btn-primary">DelatePetDetails</button>
    <button (click)="updatePetData()" ngClass="btn-btn-primary">Update data</button>
</div>

<h1>Add Pet Details</h1>
<form #petRef="ngForm" (ngSubmit)="submit(petRef)">
    <div>
        <label>petName: </label>
        <input  type ="text" [(ngModel)]="selectedata.petName" name="petName" #petName="ngModel" required/>
        <div *ngIf="submitted && petName.invalid" class="invalid-field">
            <p *ngIf="petName.errors.required"> Enter your Pet Name </p>
        </div>
    </div>
    <div>
        <label>petOwner: </label>
        <input  type ="text"  [(ngModel)]="selectedata.petOwner" name="petOwner" #petOwner="ngModel" required />
        <div *ngIf="submitted && petOwner.invalid" class="invalid-field">
            <p *ngIf="petOwner.errors.required"> Enter your Pet owner </p>
        </div>


    
    </div>
    <div>
        <button (click)="postPetData()">Add Petadata</button>
    </div>

</form>








<div>
    <ng-container *ngIf="selecteduserdata";else elseTemplate>
        <form #pet="ngForm" (ngSubmit)="updatePetData()">
            <div>
                <label>petName: </label>
                <input type="text"  placeholder="enter pet name" name="petName" [(ngModel)]="selectedata.petName" />
            </div>
            <div>
                <label>petOwner: </label>
                <input  type="text" placeholder="enter pet Owner name" name="petOwner" [(ngModel)]="selectedata.petOwner" />
            </div>
            <div>
                <button type="submit">Add Petadata</button>
            </div>
        
        </form>
         
    </ng-container>
</div>