<h1 style="text-align: center;">login Form!</h1>
<p>Template works!</p>
<h2>Login</h2>
<form #loginref="ngForm" (ngSubmit)="onSubmit(loginref)">
    <div>
        <label for="username">Username </label><br>
        <input type="text" name='username' placeholder="Enter nanme" [(ngModel)]="model.username" #username="ngModel" />
        <div *ngIf="username.invalid" class="is-invalid" required>
            <p *ngIf="username.invalid">Username is required</p>
        </div>
    </div>

    <div>
        <label for="password">Password </label><br>
        <input type="password" name='password' placeholder="Enter password" [(ngModel)]="model.password"
            #password="ngModel" />
        <div *ngIf="password.invalid" class="is-invalid">
            <p *ngIf="password.invalid"> password is required</p>
        </div><br>
    </div>

    <div>
        <button class="btn btn-primary" (click)="onSubmit(loginref)">Login
        </button>
    </div>
</form>
