input[type=text] {
    width: 30%;
    padding: 10px;
    margin: 2px;
    box-sizing: border-box;
  }
  button {
      font-size: 12px;
      margin: 10px;
      padding: 8px;
      background-color:cornflowerblue ;
  }
  input[type=password] {
    width: 30%;
    padding: 10px ;
    margin: 2px;
    box-sizing: border-box;
  }
  form{
      background-color: cyan;
  }
  h1{
    color: blue;  
  }
  