<h1 style="text-align: center;">Pet list!</h1>
<div>
    <button (click)="getPetdata()" ngClass="btn-btn-primary">getPetdata

        {{ pets | json }}
</button>
</div>


<div>
    <h1>Pet list!</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>petName</th>
                <th>petOwner</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of  pets">
                <td>{{ item.id }}</td>
                <td>{{ item.petName }}</td>
                <td>{{ item.petOwner}}</td>
                <td>
                    <button type="button">Select data</button>
                    <button type="button">delete data</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>