<h1  [style.background-color]="'darkorchid'" style="text-align: center;">Home Page</h1>

<nav >
<ul>
<li><a [routerLink]="['/register']">Register</a></li>
<li><a [routerLink]="['/login']" >Login</a></li>
<li><a [routerLink]="['/pets']" >Pet Details</a></li>
<li><a [routerLink]="['/petlist']" >Pets list</a></li>
<li><a [routerLink]="['/addpet']" >Add pet</a></li>

</ul>
<router-outlet></router-outlet>
</nav>